# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [249]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, LabelEncoder
from keras.models import Sequential
from keras.layers import Dense, Activation

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [250]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame

applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [251]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [252]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN' , 'NAME'])


# Review the Dataframe
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [253]:
applicant_data_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [254]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

#Define Numerical Variables
numerical_variables =pd.DataFrame(applicant_data_df.drop(columns= categorical_variables))


# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [255]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [256]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [257]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)
# Review the DataFrame
encoded_df.head()

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [258]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame

encoded_df = pd.concat(
    [encoded_df,
     numerical_variables],
     axis=1
)
# Review the Dataframe

encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [259]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [260]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns= 'IS_SUCCESSFUL')

# Review the features DataFrame
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [261]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [262]:
# Create a StandardScaler instance
scaler = StandardScaler()

# # Fit the scaler to the features training dataset
scaler.fit(X_train)

#Scale training and testing data

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [263]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [264]:
# Define the number of neurons in the output layer
number_output_neurons = 1

#Define Number of classes for future use
number_of_classes = len(list(y.drop_duplicates()))
number_of_classes

2

In [265]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [266]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [267]:
# Create the Sequential model instance

nn = Sequential()

In [268]:
# Add the first hidden layer

nn.add(Dense(units=hidden_nodes_layer1, input_dim= number_input_features, activation= 'relu'))

#input_dim= number_input_features,

In [269]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [270]:
# Add the output layer to the model specifying the number of output neurons and activation function

nn.add(Dense(number_output_neurons, activation='sigmoid'))

In [271]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_37 (Dense)            (None, 58)                6786

 dense_38 (Dense)            (None, 29)                1711

 dense_39 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [272]:
# Compile the Sequential model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [273]:
# Fit the model using 50 epochs and the training data
nn.fit(
    X_train_scaled,
        y_train,
        epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5747 - accuracy: 0.7193
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7293
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7304
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7323
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7335
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7338
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7342
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7346
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7354
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7371
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7364
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7378
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7375
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7386
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7381
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7384
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7396
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7394
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7403
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7391
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7386
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7390
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7403
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7397
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7410
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7404
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7402
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7415
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7403
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7398
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7413
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7400
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7409

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [274]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data

model_loss, model_accuracy =nn.evaluate(X_test_scaled, y_test, verbose=2)




# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5534 - accuracy: 0.7324 - 493ms/epoch - 2ms/step
Loss: 0.5534355640411377, Accuracy: 0.7323614954948425

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [275]:
# Set the model's file path
file_path = Path('Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file


# Set the model's file path

nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [276]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [277]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [278]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

10

In [279]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [280]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim= number_input_features, activation= 'relu'))
nn_A1.add(Dense(units=4, activation='relu'))


# Output layer
# Create the output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1

In [281]:
# Compile the Sequential model
nn_A1.compile(loss="mean_squared_error", optimizer="adam", metrics=["accuracy"])

In [282]:
# Fit the model using 50 epochs and the training data
fit_model_A1= nn_A1.fit(X_train_scaled, y_train,
                 epochs=50, 
                 batch_size=50, 
                 shuffle =True,
                 )

Epoch 1/50
515/515 [==============================] - 2s 2ms/step - loss: 1.6725 - accuracy: 0.6179
Epoch 2/50
515/515 [==============================] - 1s 2ms/step - loss: 0.5072 - accuracy: 0.6997
Epoch 3/50
515/515 [==============================] - 1s 2ms/step - loss: 0.2807 - accuracy: 0.7122
Epoch 4/50
515/515 [==============================] - 1s 2ms/step - loss: 0.2237 - accuracy: 0.7200
Epoch 5/50
515/515 [==============================] - 1s 2ms/step - loss: 0.2060 - accuracy: 0.7222
Epoch 6/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1986 - accuracy: 0.7232
Epoch 7/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1952 - accuracy: 0.7258
Epoch 8/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1932 - accuracy: 0.7266
Epoch 9/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1919 - accuracy: 0.7264
Epoch 10/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1911 - accuracy: 0.7250: 0s - loss: 0.1
Epoch 11/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1902 - accuracy: 0.7272
Epoch 12/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1893 - accuracy: 0.7274
Epoch 13/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1886 - accuracy: 0.7283
Epoch 14/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1884 - accuracy: 0.7289
Epoch 15/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1881 - accuracy: 0.7279
Epoch 16/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1879 - accuracy: 0.7294
Epoch 17/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1878 - accuracy: 0.7293
Epoch 18/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1878 - accuracy: 0.7296
Epoch 19/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1889 - accuracy: 0.7290
Epoch 20/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1873 - accuracy: 0.7298: 0s
Epoch 21/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1875 - accuracy: 0.7294
Epoch 22/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1873 - accuracy: 0.7296
Epoch 23/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1871 - accuracy: 0.7307
Epoch 24/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1870 - accuracy: 0.7307
Epoch 25/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1873 - accuracy: 0.7290
Epoch 26/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1867 - accuracy: 0.7306
Epoch 27/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1874 - accuracy: 0.7283
Epoch 28/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1866 - accuracy: 0.7299
Epoch 29/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1866 - accuracy: 0.7299
Epoch 30/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1873 - accuracy: 0.7308
Epoch 31/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1864 - accuracy: 0.7319
Epoch 32/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1864 - accuracy: 0.7304
Epoch 33/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1866 - accuracy: 0.7297
Epoch 34/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1864 - accuracy: 0.7302
Epoch 35/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1862 - accuracy: 0.7315
Epoch 36/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1864 - accuracy: 0.7303
Epoch 37/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1864 - accuracy: 0.7296
Epoch 38/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1865 - accuracy: 0.7307
Epoch 39/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1862 - accuracy: 0.7311
Epoch 40/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1864 - accuracy: 0.7310
Epoch 41/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1863 - accuracy: 0.7306
Epoch 42/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1862 - accuracy: 0.7312
Epoch 43/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1861 - accuracy: 0.7305
Epoch 44/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1861 - accuracy: 0.7324
Epoch 45/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1860 - accuracy: 0.7308
Epoch 46/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1859 - accuracy: 0.7317
Epoch 47/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1857 - accuracy: 0.7313
Epoch 48/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1858 - accuracy: 0.7317
Epoch 49/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1857 - accuracy: 0.7321
Epoch 50/50
515/515 [==============================] - 1s 2ms/step - loss: 0.1865 - accuracy: 0.7317

In [283]:
nn_A1.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_40 (Dense)            (None, 10)                1170

 dense_41 (Dense)            (None, 4)                 44

 dense_42 (Dense)            (None, 1)                 5

=================================================================
Total params: 1,219
Trainable params: 1,219
Non-trainable params: 0
_________________________________________________________________

In [284]:
nn_A1.build

#### Alternative Model 2

In [285]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [286]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [287]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

20

In [288]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [289]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim= number_input_features, activation= 'relu'))

# Output layer
nn_A2.add(Dense(units=1, activation='softmax'))


# Check the structure of the model
nn_A2

In [290]:
# Compile the model
nn_A2.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

In [291]:
# Fit the model
nn_A2.fit(X_train, y_train,
                 epochs=50, 
                 batch_size=50, 
                 shuffle =True)

Epoch 1/50
515/515 [==============================] - 2s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 2/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 3/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 4/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 5/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 6/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 7/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 8/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 9/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 10/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 11/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 12/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 13/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 14/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 15/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 16/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 17/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 18/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 19/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 20/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 21/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 22/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 23/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 24/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 25/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 26/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 27/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 28/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 29/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 30/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 31/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 32/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 33/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 34/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 35/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 36/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 37/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 38/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 39/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 40/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 41/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 42/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 43/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 44/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 45/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 46/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 47/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 48/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 49/50
515/515 [==============================] - 1s 3ms/step - loss: 0.4665 - accuracy: 0.5335
Epoch 50/50
515/515 [==============================] - 1s 2ms/step - loss: 0.4665 - accuracy: 0.5335

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [292]:
print("RESULTS")

print("Original Model Results")
print(f'.........................................................')

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss0, model_accuracy0 = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss0}, Accuracy: {model_accuracy0}")
print(f'..................................................................................................................')
print(f'..................................................................................................................')
print("Alternative Model 1 Results")
print(f'..................................................................................................................')

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss1, model_accuracy1 =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss1}, Accuracy: {model_accuracy1}")
print(f'..................................................................................................................')
print(f'..................................................................................................................')
print("Alternative Model 2 Results")
print(f'..................................................................................................................')

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss2, model_accuracy2 = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss2}, Accuracy: {model_accuracy2}")
print(f'..................................................................................................................')

RESULTS
Original Model Results
.........................................................
268/268 - 0s - loss: 0.5534 - accuracy: 0.7324 - 411ms/epoch - 2ms/step
Loss: 0.5534355640411377, Accuracy: 0.7323614954948425
..................................................................................................................
..................................................................................................................
Alternative Model 1 Results
..................................................................................................................
268/268 - 0s - loss: 0.1877 - accuracy: 0.7282 - 431ms/epoch - 2ms/step
Loss: 0.18770617246627808, Accuracy: 0.7281632423400879
..................................................................................................................
..................................................................................................................
Alternative Model 2 Results
..................................................................................................................
268/268 - 0s - loss: 0.4708 - accuracy: 0.5292 - 442ms/epoch - 2ms/step
Loss: 0.4707871675491333, Accuracy: 0.5292128324508667
..................................................................................................................

### Step 3: Save each of your alternative models as an HDF5 file.

In [293]:
# Set the file path for the first alternative model
file_path = Path('Resources/AlphabetSoup1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Set the model's file path

In [294]:
# Set the file path for the second alternative model
file_path = Path('Resources/AlphabetSoup2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)